body{
  font-family: 'Montserrat', sans-serif;
  background: #E1E2E1;
}
.app-holder{
  border-radius: 10px;
  padding: 30px;
  background: #F5F5F6;
  margin-top: 50px;
}
.done-true {
    text-decoration: line-through;
    color: grey;
  }

.header-holder{
  flex-direction: column-reverse;
  
}

@media (min-width: 768px) {
  .header-holder{
    flex-direction: row;
  }
}

.task-row{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-row label{
  margin-bottom: 0px;
}
.task-row button:disabled,
button[disabled] { 
  color: gray;
  border-color: gray;
}

.options{
  display: flex;
  justify-content: center;
  padding: 35px 0 0;

}
.form-holder{
  align-items: center;
  padding: 15px;
}

.form-holder input {
  margin-top: 15px;
}
.form-holder span {
  margin: 15px;
}
.popeye-modal-container {
  background-color: rgba(0, 0, 0, 0.2);

  
}
.ng-enter {
  animation: none;

}
.ng-enter .popeye-modal {
  animation: none;
}
.ng-leave {
  animation: none;

}
.ng-leave .popeye-modal {
  animation: none;
}