<div  ng-controller="TodoFormController">
    <h1>Adicione uma nova tarefa.</h1>
    <form name="form" ng-submit="submit()" novalidate>
        <input type="text" ng-model="description"  size="30"
        placeholder="Descrição" required>
        <input type="text" ng-model="responsable"  size="30"
        placeholder="Responsavel" required>

        <input type="email" ng-model="email" name="email"  size="30"
        placeholder="email" valid-email ng-model-options="{ debounce: 1000 }" required>
        <span ng-show="form.email.$valid">e-mail é valido</span>
        <span ng-show="form.email.$pending.validEmail">Verificando se email é valido...</span>
        <span ng-show="form.email.$error.validEmail && didYouMean">Você quis dizer:{{didYouMean}}?</span>
        <span ng-show="form.email.$error.validEmail && !didYouMean">e-mail invalido</span>
        <input class="btn-primary" type="submit" value="add" ng-disabled="form.$invalid || form.$pending">
    </form>
</div>